<div id='container' ng-controller="ShortenController">
  <form ng-submit="addLink()">
      <input class='text' type='text' ng-model="url" name='url'>
      <input type='submit' value='Shorten'>
  </form>
  <img class='spinner' src='/assets/spiffygif_46x46.gif'>
  <div class='message'></div>
  <hr/>
  <div class='info' ng-repeat="shortly in shortlies track by $index">
    <div class='visits'><span class='count'>{{shortly.visits}}</span>Visits</div>
    <div class='title'>{{shortly.title}}</div>
    <div class='original'>{{shortly.url}}</div>
    <a href='{{shortly.baseUrl}}/{{shortly.code}}'>{{shortly.baseUrl}}/{{shortly.code}}</a>
  </div>
</div>

